/*----------------- 
Backend related CSS
-----------------*/
.elementor-add-section-button:hover {  
    background-color: #93003c !important;
    color: #fff !important;
} 
.elementor-editor-container-settings .elementor-editor-element-setting:first-child:before, .elementor-editor-section-settings .elementor-editor-element-setting:first-child:before{
	left: -20% !important;
}
.elementor-editor-widget-settings .elementor-editor-element-setting:hover {
    background-color: #10bcf2 !important;
}
.elementor-editor-column-settings .elementor-editor-element-setting:hover {
    background-color: #495157 !important;
}